@charset "UTF-8";

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
section{
	margin: 40px auto;
	overflow : auto;
}

.titleWrap{
	display: flex;
	justify-content : space-between;
	align-items : center;
	width : 45vw;
	height: 6vh;
	margin : 0 auto;
	
}

.community{
	width : 10vw;
	height: 4vh;
	line-height : 4vh;
	margin-left: 2.5vw;
}

.community span{
	font-size : 22px;
	font-weight: bold;
}

.createContent button{
	text-align: center;
	width : 10vw;
	height: 4vh;
	line-height: 4vh;
	margin-right: 2.5vw;
	font-size: 16px;
	border: 1px solid #ccc;
    border-radius: 2em;
    background-color: #00DFA2;
    color: white;
    cursor: pointer;
}

.createContent button:hover{
	background-color: #00c591;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width : 45vw;
	margin: 0 auto;
	overflow :auto;
}
.card {
    font-size: 14px;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px 4px #00000045;
    width : 12vw;
    height: 25vh;
    margin: 1vh 1vw;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
	transform: translateY(-3px);
	box-shadow: 0 4px 6px 0 #727272, 0 0 0 1px #d4d4d5;
}

.noImg{
	width : 100%;
	height : 100%;
	object-fit: cover;
}

.contentBox{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
    height: 5vh;
    top: 20vh;
    left: 0;
    overflow: hidden;
}

.contentBox h4{
    display: -webkit-box; /* 필요한 브라우저 벤더 접두사 추가 */
    -webkit-box-orient: vertical;  /* 수직으로 요소를 배치 */
    -webkit-line-clamp: 2; /* 표시할 줄 수 지정 */
    overflow: hidden; /* 글자를 넘어간 부분은 숨김 처리 */
    white-space: normal;
    text-overflow: ellipsis; /* 생략 부호로 표시 */
    margin: 4px;
}


.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
}


.delete{
    position: absolute;
    right : 20px;
    top : 10px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px;
    font-size: 20px;
}

