@charset "UTF-8";

section {
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 32vw;
    margin: 5vh auto;
    background: white;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.introduce{
	margin : 1vh auto;
}

.nullMember{
	width: 300px;
    height: 50vh;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    background: linear-gradient(270.67deg, rgba(0, 74, 255, 0.5) 5.26%, rgba(255, 94, 229, 0) 89.48%), #4a5ac1;
	border-radius: 10px;
}

.btnBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btnBox button {
    padding: 10px 20px;
    width: 200px;
    height: 50px; /* 수정된 부분 */
    background: linear-gradient(270.67deg, rgba(255, 94, 229, 0.5) 5.26%, rgba(255, 94, 229, 0) 89.48%), #FF7979;
	border-radius: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnBox button:hover {
    background-color: #0a84e4;
}

.nullMsg {
    color : #fff;
    text-align: center;
    font-size: 2.2em;
}
