@charset "UTF-8";
	
	* {
       box-sizing: border-box;
       
   }
   
   /*body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
   padding: 0;
}*/
   

	section {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       height: 800px;
   }
	
  /* .container {
   height: 100vh; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}*/
   
  
   a {
       text-decoration: none;
   }
   
   .box{
       border: 1px solid #FF8E9E;
   border-radius: 10px
   }
  
   form {
   width: 400px;
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /*border: 1px solid #FF8E9E;*/
   border-radius: 10px;
}

 .button-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
   

   
   input[type='text'],
   input[type='password'] {
       width: 300px;
       height: 40px;
       border: 1px solid #FF8E9E;
       border-radius: 5px;
       padding: 0 10px;
       margin-bottom: 10px;
   }
   button[type='submit'] {
       background-color: #e91e63;
       color: white;
       width: 300px;
       height: 50px;
       font-size: 17px;
       border: none;
       border-radius: 5px;
       margin-bottom: 10px;
       cursor: pointer;
   }
   
   button[type="button"]{
        width: 300px; /* 버튼을 가로로 꽉 차게 설정 */
       height: 55px;
       background: linear-gradient(
                   270.67deg,
                   rgba(255, 94, 229, 0.5) 5.26%,
                   rgba(255, 94, 229, 0) 89.48%
                   ),
                   #ff7979;
       border-radius: 10px;
       border: 1px solid #ff7979;
       cursor: pointer;
   }

   
   .small-button1,
   .small-button2 { 
  /* margin: 0 auto;
   display:block;*/
   cursor: pointer;
   color: white;
   width:300px;
   margin:20px auto;
   height:50px;
   cursor:pointer;
   font-size:14px;
   font-family: 'Montserrat', sans-serif;
   border-radius:8px;
   border:none;
   line-height:40px;
  
   
   &.small-button1{
      /*background:#5b90f0;
      color:white;
      box-shadow:0 15px 30px rgba(#5b90f0,.36);
      transition:.2s linear;*/
      .fa{
          font-size:20px;
          padding:0 5px 0 0 ;
      }
     &:hover{
       box-shadow:0 0 0 rgba(#5b90f0,.0);
     }
   }
   &.small-button2{
      /*background:#25282d;
      color:white;
      box-shadow:0 15px 30px rgba(#25282d,.36);
      transition:.2s linear;*/
      .fa{
          font-size:20px;
          padding:0 5px 0 0 ;
      }
     &:hover{
       box-shadow:0 0 0 rgba(#25282d,.0);
     }
   }
}
   
   
   #title {
       font-size: 50px;
       margin: 40px 0 30px 0;
   }
   #msg {
       height: 30px;
       text-align: center;
       font-size: 16px;
       color: red;
       margin-bottom: 20px;
   }
   .fa-exclamation-circle {
       display: inline-block;
       margin-right: 5px;
   }
